body {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
    background: url("https://www.seriouseats.com/recipes/images/2017/06/20170617-bulgogi-burger-matt-clifton-1-1500x1125.jpg"); 
    background-size: 100%; 
    background-repeat: no-repeat; 
    position:center
}

header {
	background: #333;
	margin: 0;
	height: 60px;
	display: flex;
	align-items: center;
}

h1 {
	margin: 0 0 0 100px;
	color: #fff;
	font-size: 30px;
}

span {
	font-size: 0.85em;
	background: #B31B1B;
	color: white;
	padding: 3px 5px 3px 5px;
	border-radius: 4px;
	margin-left: 5px;
}

button {
	display: inline;
}

.devour-burger-form {
	display: inline;
}

#burgers-container {
	display: flex;
}

#burgers-available {
	flex-grow: 1;
	padding: 0.5em 2em 1.7em 2em;
	background: rgb(37, 192, 212);
	margin: 1em 1em 1em 0;
}

#burgers-devoured {
	flex-grow: 1;
	background: #333;
	padding: 0.5em 2em 1.7em 2em;
	margin: 1em 0 1em 1em;
}

#burgers-devoured h2, #burgers-devoured div {
	color: #ddd;
}

.wrapper {
	max-width: 67%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

#create-burger {
	display: flex;
	justify-content: center;
	padding-top: 55px;
	padding-bottom: 40px;
}

.burger {
	line-height: 2;
}

.eat-btn {
	margin-right: 0.7em;
	padding: 5px;
}

#submit-btn {
	padding: 0.57em 1em 0.57em 1em;
	font-size: 1.5em;
	background: #38eeff;
	border: none;
	margin-left: -5px;
}

#burger-name {
	padding: 0.5em 1em 0.5em 1em;
	font-size: 1.5em;
}
  /* footer */
footer {
	background: #333;
	margin: 0;
	height: 60px;
	display: flex;
    align-items: center;
    font-size: 15px;
    border-top: 8px solid rgb(37, 192, 212);
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%

}

footer a {
    float: right;
    color: rgb(37, 192, 212);
  }
  
  footer a:hover {
    color: #ffffff;
  }
